/* HUD style */
.top_overlay {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 30%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.stat_bar{
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

.stat_bar .bar{
    transition-duration: 500ms;
    z-index: 10;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
}

.stat_bar .sub_bar{
    transition-duration: 2200ms;
    z-index: 9;
    background-color: rgb(88, 88, 88);
}

.stat_bar .bar_text{
    z-index: 11;
    position: absolute;
    left: 10px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}

/* Colors */
.stat_bar.green .bar{
    background-color: green;
}

.stat_bar.green .sub_bar{
    background-color: rgb(93, 192, 93);
}


.stat_bar.blue .bar{
    background-color: rgb(37, 157, 255);
}

.stat_bar.blue .sub_bar{
    background-color: rgb(137, 202, 255);
}


.stat_bar.red .bar{
    background-color: red;
}

.stat_bar.red .sub_bar{
    background-color: rgb(250, 134, 134);
}


/* Tip text position */
.caption{
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: xx-large;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.hidden{
    display: none;
}



/* Menu style */
.menu_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_backdrop.main {
    background: linear-gradient(-45deg, #1cb2e9, #f15893);
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
}
.menu_backdrop.pause {
    background: rgba(0, 0, 0, 0.25);
}
.menu_backdrop.death {
    background: black;
    animation: fadein 4s forwards;
    opacity: 0;
}
.menu_backdrop.win {
    background: linear-gradient(-45deg, rgb(253 242 176), gold);
    background-size: 200% 200%;
    animation: fadein 4s forwards, gradient 3s ease infinite;
    opacity: 0;
}

.menu_board{
    position: absolute;
    background-color: #fffff5;
    border: 5px solid #1cb2e9;
    border-radius: 8px;
    width: 50%;
    height: 50%;
    max-width: 650px;
    box-shadow: 0px 10px 13px 4px rgb(102 102 102 / 77%);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation: fadein 2s forwards;
    opacity: 0;

    backface-visibility: hidden;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.menu_backdrop.death .menu_board{
    animation-delay: 2s;
}

.rotation{
    transform: rotateY(180deg);
}
.backrotation{
    transform: rotateY(-180deg);
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.menu_title {
    position: absolute;
    top: 0;
    transform: translate(0,-50%);
    color: #1cb2e9;
    font-size: xxx-large;
    font-family: fantasy;
    background-color: #fffff5;
    border: 5px solid #1cb2e9;
    border-bottom: #fffff5;
    border-radius: 20px 20px 0px 0px;
    padding: 15px 15px 15px 15px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    /* align-items: center; */
}
.menu_title::before {
    padding: 0;
    margin: 0;
    display: block;
    content: "";
    height: 54%;
    width: 10px;
    background-color: #fffff5;
    position: absolute;
    left: -5px;
    bottom: -1px;
}
.menu_title:after {
    padding: 0;
    margin: 0;
    display: block;
    content: "";
    height: 54%;
    width: 10px;
    background-color: #fffff5;
    position: absolute;
    right: -5px;
    bottom: -1px;
}

.menu_button {
	box-shadow: 0px 10px 14px -7px #747474;
	background-color:#1cb2e9;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:20px;
	font-weight:bold;
	padding:15px 35px;
    margin: 40px 0px;
	text-decoration:none;
	text-shadow:0px 1px 0px #747474;
    box-sizing: border-box;
    min-width: 50%;
    text-align: center;
}
.menu_button:hover {
	background-color:#378ead;
}
.menu_button:active {
	position:relative;
	top:1px;
}

.menu_text{
    color: #1cb2e9;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 35px 35px;
    width: 90%;
    height: 50%;
}